@import url("https://dev-cats.github.io/code-snippets/JetBrainsMono.css");

:root {
    --white-green: #EDFFEE;
    --plum: #AB81CD;
}

body, html {
    height: 100%;
    background-color: #2A2B2A;
    font-family: 'JetBrains Mono', sans-serif;
    margin: 0px;
    color: var(--white-green);
}

.max-h {
    height: 100%;
}

.max-w {
    width: 90ch;
}

a {
    text-decoration: none;
}

.link-holder {
    display: inline;
}

.link {
    text-decoration: none;
    text-decoration: underline dotted var(--plum) 2px;
    text-underline-offset: 5px;
    transition: 0.5s;
    color: inherit;
}

.link:visited {
    color: var(--plum);
    /* color: red; */
}

.link:hover {
    background: var(--plum);
    color: var(--white-green);
    transition: 0.5s;
}


.link-num {
    color: white !important;
    text-decoration: none !important;


    background-color: grey;
    border-radius: 5px;
    padding: 2.5px;

}