@import url("https://dev-cats.github.io/code-snippets/JetBrainsMono.css");

:root {
    --white-green: #EDFFEE;
    --plum: #AB81CD;
    --body-width: 90ch;
    --white-smoke: #EDE9EA;
}

body, html {
    height: 100%;
    background-color: #2A2B2A;
    font-family: 'JetBrains Mono', sans-serif;
    margin: 0px;
    color: var(--white-green);
}

#root {
    height: 100%;
}

.max-h {
    height: 100%;
}

.max-w {
    width: var(--body-width);
}

.m-auto {
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: var(--white-green)
}

.link-holder {
    display: inline;
}

.link {
    text-decoration: none;
    position: relative;
    transition: 0.5s;
    color: inherit;
}

.link:visited {
    color: var(--plum);
}

.link:hover {
    background: var(--plum);
    color: var(--white-green);
    transition: 0.5s;
}

.link::after {
    content: attr(data-clicks);
    display: inline-block;
    position: relative;
    border-radius: 10px;
    font-weight: normal;

    color: grey;
    background-color: var(--white-smoke);
    padding: .05em .3em;

}

.underline {
    text-decoration: underline dotted var(--plum) 2px;
    text-underline-offset: 3px;
}

.underline::after {
    text-decoration: none;
}

.container {
    margin-left: 2em;
    margin-right: 2em;
}